body {
    margin: 0px;
}

nav {
    display: grid;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: wheat;
    height: 50px;
    position: fixed;
}

header {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 600px;
    background-image: url(../img/bolo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}